<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- gvSIG. Desktop Geographic Information System. Copyright (C) 2007-2014 gvSIG
  Association. This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by the Free Software
  Foundation; either version 3 of the License, or (at your option) any later version.
  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
  PURPOSE. See the GNU General Public License for more details. You should have received
  a copy of the GNU General Public License along with this program; if not, write to
  the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301,
  USA. For any additional information, do not hesitate to contact us at info AT gvsig.com,
  or visit our website www.gvsig.com. -->
<plugin-config>
  <depends plugin-name="org.gvsig.app.mainplugin" />
  <resourceBundle name="text" />
  <libraries library-dir="lib" />
  <extensions>


    <extension class-name="org.gvsig.topology.app.mainplugin.TopologyExtension"
      description="" active="true" priority="1">
            <action 
                name="tools-topology-create-or-modify"
                label="_Show_create_or_edit_topology_plan" 
                position="908300100"  
                tooltip="_Show_create_or_edit_topology_plan" 
                action-command="tools-topology-create-or-modify"
                icon="tools-topology-create-or-modify"
                accelerator=""
            />
            <action 
                name="tools-topology-execute"
                label="_Execute_topology_plan" 
                position="908300200"  
                tooltip="_Execute_topology_plan" 
                action-command="tools-topology-execute"
                icon="tools-topology-execute"
                accelerator=""
            />

            <menu text="tools/_Topology"
                              position="908300000" 
                              is_separator="true"/>
            <menu text="tools/_Topology/_Create_or_edit_plan" 
                              name="tools-topology-create-or-modify"/>
            <menu text="tools/_Topology/_Execute_plan" 
                              name="tools-topology-execute"/>
				
            <!--
            <tool-bar name="topology" position="2000">
                <action-tool name="tools-topology-create-or-modify"/>				
                <action-tool name="tools-topology-execute"/>				
            </tool-bar>                    
            -->
    </extension>


  </extensions>
</plugin-config>
